## Configuration File for Google Drive backup&sync
# https://support.google.com/a/answer/2490101?hl=en&ref_topic=7455083#zippy=%2Cstep-check-settings-and-requirements%2Cstep-install-backup-and-sync%2Cstep-create-a-setup-file%2Cstep-customize-the-file%2Cstep-deploy-the-file

[Computers]
desktop_enabled: False
documents_enabled: False
pictures_enabled: False
folders: /path/to/folder1, /path/to/folder2, /path/to/folder3
high_quality_enabled: False
always_show_in_photos: False
usb_sync_enabled: True
ignore_extensions: ext1, ext2, ext3
delete_mode: ALWAYS_SYNC_DELETES # Note: Delete mode can be: ALWAYS_SYNC_DELETES, ASK, or NEVER_SYNC_DELETES

[MyDrive]
folder: /path/to/google_drive
my_drive_enabled: True
[Settings]
autolaunch: True
show_overlays: False
[Network]
download_bandwidth: 100
upload_bandwidth: 200
use_direct_connection: False