/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */

.markdown-preview.markdown-preview {

  // Define variables
  @primary-color: #37db34;
  
  h1 {
      color: rgb(91, 133, 201)
  }
  h2 {
    color: Orange;
  }
  h3 {
    color: red;
  }
  h4 {
    color: @primary-color;
    // color: darken(@primary-color, 10%);
    // color: tomato;
  }
  h5 {
    color: Magenta;
  }

//   a {
//     color: inherit;
//     text-decoration: underline;
//   }

  ul, ol {
    //  font-size: 16px;
     color: rgb(54, 128, 233)
  }
//   p {
//       font-size: 14px;
//   }
}
